@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Work Sans", sans-serif;
  --spacing-headerHeight: 55px;
  --spacing-headerHeight2: calc(
    var(--spacing-headerHeight) + var(--spacing-headerHeight)
  );
  --spacing-headerHeight3: calc(
    var(--spacing-headerHeight) + var(--spacing-headerHeight) +
      var(--spacing-headerHeight)
  );
  --spacing-sidebarMaxHeight: calc(100vh - var(--spacing-headerHeight));
  --spacing-complementarySidebarMaxHeight: calc(
    100vh - var(--spacing-headerHeight) - var(--spacing-headerHeight)
  );
  --spacing-sidebarWidth: 390px;
  --spacing-buttonHeight: 39px;
  --spacing-documentWidth: 900px;
  --spacing-complementarySidebarWidth: 320px;
  --spacing-suggestedSidebarWidth: 240px;
  --text-base: 13px;
  --text-lg: 18px;
  --chatWidth: 360px;

  --color-text1: var(--color-neutral-800);
  --color-text2: var(--color-neutral-400);
  --color-text3: var(--color-neutral-300);
  --color-textOnDark: var(--color-white);
  --color-bgDark: var(--color-neutral-800);
  --color-bgDarker: var(--color-neutral-900);
  --color-bg1: var(--color-white);
  --color-bg2: var(--color-neutral-100);
  --color-bg3: var(--color-neutral-200);
  --color-borderColor: var(--color-neutral-200);
  --font-weight-semibold: 500;
  --font-weight-bold: 600;

  --color-actionPrimary: var(--color-indigo-600);
  --color-actionSecondary: var(--color-bg3);
  --color-actionTertiary: var(--color-bg2);

  /* GO DARK MODE */
  /* --color-bg1: var(--color-neutral-800);
  --color-bg2: var(--color-neutral-900);
  --color-text1: var(--color-neutral-300);
  --color-text2: var(--color-neutral-500);
  --color-borderColor: var(--color-neutral-700);
  --color-bgDark: var(--color-neutral-900);
  --color-bgDarker: var(--color-neutral-950); */
}

.minititle {
  @apply text-xs text-neutral-400 font-semibold tracking-wide;
}

.flexer {
  @apply flex items-center justify-center;
}

.tree {
  li {
    span {
      @apply hover:font-semibold whitespace-nowrap cursor-pointer;
    }
    @apply pl-5 p-1 relative;
    &:before {
      @apply content-[""] absolute left-0 w-2 top-[14px] h-[2px] -mt-[1px] bg-neutral-500;
    }
  }
}
