@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@theme {
	--headerHeight: 50px;
	--toolbarHeight: 60px;
	--featureSidebarTop: calc(var(--headerHeight) + var(--toolbarHeight));
	--sidebarHeight: calc(100vh - var(--headerHeight));
	--featureSidebarHeight: calc(100vh - var(--featureSidebarTop));
}

body {
	font-family: "Work Sans", sans-serif;
}

.customContainer {
	@apply flex;
	.left {
		@apply w-1/6;
	}
	.main {
		@apply flex-1 max-w-2/3;
	}
	.feature {
		@apply flex-1;
	}
}
