@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Work Sans", sans-serif;
  --font-serif: "Fraunces", serif;
  --spacing-headerHeight: 48px;
  --spacing-headerHeight2: calc(
    var(--spacing-headerHeight) + var(--spacing-headerHeight)
  );
  --spacing-headerHeight3: calc(
    var(--spacing-headerHeight) + var(--spacing-headerHeight) +
      var(--spacing-headerHeight)
  );
  --spacing-sidebarMaxHeight: calc(100vh - var(--spacing-headerHeight));

  --spacing-complementaryTop: calc(
    (var(--spacing) * 3) + var(--spacing-headerHeight)
  );
  --spacing-complementaryHeight: calc(
    100vh - var(--spacing-complementaryTop) - var(--spacing-headerHeight)
  );

  --spacing-chatTop: 0;
  --spacing-chatHeight: calc(
    100vh - var(--spacing-chatTop) - var(--spacing-headerHeight)
  );

  --breakpoint-sm: 934px;
  --breakpoint-lg: 1200px;

  --spacing-sidebarWidth: 380px;
  --spacing-chatWidth: 340px;
  --spacing-buttonHeight: 40px;
  --spacing-buttonHeightSm: 34px;
  --spacing-documentWidth: 1100px;
  --spacing-complementarySidebarWidth: 320px;
  --spacing-suggestedSidebarWidth: 240px;
  --text-base: 13px;
  --text-lg: 18px;
  --chatWidth: 360px;

  --color-text1: var(--color-gray-800);
  --color-text2: var(--color-gray-400);
  --color-text3: var(--color-gray-300);
  --color-textOnDark: var(--color-white);
  --color-bgDark: var(--color-gray-800);
  --color-bgDark2: var(--color-gray-700);
  --color-bg1: var(--color-white);
  --color-bg2: var(--color-gray-100);
  --color-bg3: var(--color-gray-200);
  --color-bg4: var(--color-gray-500);
  --color-borderColor: var(--color-gray-200);
  --font-weight-semibold: 500;
  --font-weight-bold: 600;

  --color-action1: var(--color-violet-500);
  --color-action2: var(--color-gray-200);
  --color-action3: var(--color-gray-100);
  --color-actionDark: var(--color-gray-600);

  --radius-panel: calc(var(--spacing) * 3.6);
  --radius-button: calc(var(--spacing) * 1.8);
}

body .ps__rail-x {
  @apply hidden!;
}
body .ps__rail-y {
  @apply hidden! lg:block!;
}
body .ps__thumb-y {
  @apply bg-gray-400;
}

.flexer {
  @apply flex items-center justify-center;
}

.polka {
  background-image: radial-gradient(var(--color-gray-200) 1px, transparent 1px);
  background-size: 20px 20px;
}

.tree {
  li {
    span {
      @apply hover:font-semibold whitespace-nowrap cursor-pointer;
    }
    @apply pl-5 p-1 relative;
    &:before {
      @apply content-[""] absolute left-0 w-2 top-[14px] h-[2px] -mt-[1px] bg-gray-500;
    }
  }
}
